name: ShellCheck

on:
  push:
    branches:
      - master
      - main
  pull_request:
    paths-ignore:
    - '**.gitignore'
    - '**.md'
    - '**.yml'
    - 'LICENSE'

jobs:
  shellcheck:
    name: Bash syntax checker
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
